html {
    background-color: black;
}
/* add font-family */
header {
    padding: 3%;
    background-color: rgb(128, 128, 128);
    font-family: 'Eczar','Courier New', 'Courier', 'monospace';
    background: rgb(15,22,44);
    background: radial-gradient(circle, rgba(15,22,44,1) 52%, rgba(69,80,128,1) 82%, rgba(3,5,19,1) 100%);
}

.box {
    background-color: #848ebde5;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 15px;
    text-align: center;
}

/* style the movie container for a row and space for ease of viewing */
#movie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(36, 36, 37);
    opacity: .8;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    justify-content: space-evenly;
    margin: 2%;
    font-family: 'Limelight', 'Courier New', 'Courier', 'monospace';
    width: 300px;
    height: 675px;
}

/* add footer display center */
/* make at bottom of page */
footer {
    display: flex;
    text-align: center;
    color: rgb(187, 193, 195);
    font-family: 'Eczar', 'Courier New', 'Courier', 'monospace';
}

/* have buttons better visually with hover and active */
button:hover {
    cursor: grabbing;
}

button:active {
    font-size: 12px;
    box-shadow: 0 0 10px rgb(61, 61, 63);
    color: rgb(17, 17, 17);
}